.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 279px;
  height: 279px;
  margin: 0 10px 10px;
  background-color: #c6c6c6;
  border: inset 5px;
}

.cellStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: solid 1px;
  border-color: #919191;
  border-width: 3px;
}

.board2 {
  display: flex;
  flex-wrap: wrap;
  width: 309px;
  height: 400px;
  background-color: #c6c6c6;
  border: outset 5px #fff;
}

.board3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 279px;
  height: 80px;
  margin: 10px;
  background-color: #c6c6c6;
  border: inset 5px #fff;
}

.imageStyle {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: -3px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.nikoStyle {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: outset 3px #fff;
}

.timeStyle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
  margin-right: 10px;
  margin-left: 45px;
  color: red;
  background-color: #000;
  border: inset 1px #fff;
}

.bombCountStyle {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 40px;
  margin-right: 45px;
  margin-left: 10px;
  background-color: #000;
  border: inset 1px #fff;
}
