.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  background-color: #c6c6c6;
  box-shadow: #808080;
}

.cellStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-color: #919191;
  border-style: solid;
  border-width: 1px;
}

.board2 {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  height: 400px;
  background-color: whitesmoke;
}

.imageStyle {
  z-index: 2;
  display: flex;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}
